<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQI Prediction</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>AQI Prediction</h2>
    <form action="predict" method="post">
        <label for="datetime">Enter Date and Time:</label><br>
        <input type="datetime-local" id="datetime" name="datetime"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
